@import "tailwindcss";

/* :root {
    --beige: #F5F1E8;
    --brown: #8B6F47;
    --dark-brown: #5C4A37;
    --rust: #B87333;
    --black: #1A1A1A;
    --cream: #FAF8F3;
} */


body {
  background: 
    repeating-linear-gradient(
      to bottom,
      rgba(0,0,0,0.03) 0px,
      rgba(0,0,0,0.03) 1px,
      transparent 1px,
      transparent 6px
    ),
    #E8D9C4; /* base beige color */
}
